* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

:root {
  --primary: white;
  --secondary: darkblue;
  --tertiary: lightblue;
  --black: black;
}

body {
  background: var(--primary);
  margin: 0;
}

#timer {
  color: var(--black);
  float: right;
  margin: 18px 20px;
}

.highscore-button {
  color: var(--secondary);
  float: left;
  margin-left: 18px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.highscore-button:hover {
  color:  #005C99;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  color: var(--black);
  font-size: 42px;
  text-align: center;
  margin-top: 100px;
}

#text {
  color: var(--black);
  font-size: 20px;
  text-align: center;
  flex-wrap: wrap;
}

#start-button {
  outline: none;
  display: block;
  border: 0;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  background: var(--secondary);
  color: var(--primary);
  cursor: pointer;
  transition: all 0.3s linear;
}

#start-button:hover {
  background: #005C99;
}

.quiz-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.question {
  color: var(--black);
  font-size: 30px;
  text-align: left;
  margin-top: 100px;
}

.option-list {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 0;
}

.option-list li {
  margin-top: 5px;
  outline: none;
  display: block;
  border: 0;
  font-size: 16px;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 20px;
  width: fit-content;
  background: var(--secondary);
  color: var(--primary);
  cursor: pointer;
  transition: all 0.3s linear;
}

.option-list li:hover {
  background: #005C99;
}

.done {
  color: var(--black);
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.initialInput {
  margin-top: 10px;
  outline: none;
  padding: 12px;
  width: fit-content;
  font-size: 30px;
  border: 2px solid var(--secondary);
}

.submitBtn {
  outline: none;
  display: block;
  border: 0;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  background: var(--secondary);
  color: var(--primary);
  cursor: pointer;
  transition: all 0.3s linear;
}

.submitBtn:hover {
  background: #005C99;
}

#highScoreList {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 0;
  list-style-image: var;
}

.userScore {
  background: var(--tertiary);
  margin-top: 5px;
  padding: 10px 10px;
}